body {
  font-family: 'Roboto';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 81px;
  margin-right: 100px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 175px;
}
header a { 
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
header img {
  width: 15%;
}

header h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 34px;
  color: #375BD2;
  letter-spacing: -1.5px;
}

.login_modal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dashboard .job_requests_title {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 48px;
  letter-spacing: -.5px;
}

.filter_input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 25px;
  margin-bottom: 40px;
  width: 100%;
}

.filter_input form{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(39.43% + 20px) ;
}

.filter_input_left {
  display: flex;
  flex-direction: row;
}

.filter_input_right {
  display: flex;
  flex-direction: row;
}

.filter_input .search_input {
  width: 300px;
}

.filter_input .status_input {
  width: 450px;
  text-align: left;
}

.filter_input .button_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: calc(60.57% - 20px);
  height: 95%;
}

.data_table {
  font-family: 'Roboto';
  font-weight: 200px;
  margin-bottom: 26.5px;
}

.data_table .table_headers {
  font-family: 'Roboto';
  font-weight: 400px;
}

.data_table tr{ 
  cursor: pointer;
}


.job_request_form_page {
  width: 760px;
  height: 549px;
  margin-left: 156px;
}

.job_request_form_page .text_input {
  width: 100%;
  margin-bottom: 16px;

}

.job_request_form_page .dropdown,
.job_request_form_page .disabled_input {
  width: calc((100% - 32px) / 2);
  margin-bottom: 16px;
}

.job_request_form_page .margin_right {
  margin-right: 32px;
}

.job_request_form_page .save, .job_request_form_page .cancel { 
  font-weight: 600;
  letter-spacing: .5px;
  margin-top: 16px;
}

.job_info_page{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 46.5px;
}
.job_info_page h2 { 
  margin-bottom: 8px;
  font-weight: 400;
}
.job_info_page .stepper{ 
  margin-top: -50px;
  margin-left: 75px;
  margin-bottom: 70px;
}

.job_info_page .job_details{ 
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: 200 ;
}

.job_info_page .job_info{ 
  margin-left: 19%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.job_info .chip_row{ 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.job_info .chip{ 
  width: max-content;
}

.job_info .open_to_bid .bid_input{
  margin-top: 67px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.job_info .open_to_bid .bid_input button{ 
  margin-top: 18px;
}

.job_info .pending_view{ 
  background: rgba(217, 217, 217, 1);
  width: 648px;
  height: 173px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 113px;
  margin-bottom: 93.5px ;
}

.job_info .pending_view_input{ 
  margin-top: 73px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.job_info .pending_view_input .text_input{ 
  margin-bottom: 26px;
}

.bid_accordian{ 
  height: fit-content;
}
.bid_accordian .collapsed_accordian_row{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.bid_accordian .typography_component{
  width: 100%;
}
.bid_accordian .collapsed_column{ 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 93%;
}
.bid_accordian .bid_amount{ 
  font-size: 20px;
  font-weight: 500;
}
.bid_accordian .expiration_date{ 
  font-size: 14px;
}
.bid_accordian .accept_button{ 
  justify-self: flex-end;
}

.bid_accordian .more_details{ 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  border-radius: 10px;
  height: 124px;
  margin-left: 27px;
  margin-right: 20px;
  margin-bottom: 38.5px;
}

footer img.logo2 {
  margin-left: 48px;
  width: 49px;
  height: 57px;
  margin-top: 14.5px;
}

footer p {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  margin-left: 48px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

footer p span {
  margin-left: 43%;
}